
body {
    background-image: url("./img/beijing.png");
    background-repeat: no-repeat;
    margin:0;
  

}
.juzhong {
    text-align: center;  
  
}
a:-webkit-any-link{
    color: transparent;
}


.ys {
    text-align: center;
    color: white;
   
}
.daxiao{
    font-size:20px;
    color:skyblue;
}

.div1 {
    
    padding: 5px;
    margin: 0 auto 0 auto;
}
.div2 p{
    height:10px;
    font-size:5px;

}
main {
    background-color: rgba(0, 72, 90, 0.3);
    width: 500px;
    height: 350px;
    margin: 0 auto 0 auto;
    text-align: center;
    border:0px;
    padding:10px;
    box-shadow:0 0 50px;
}
