body {
    background-image: url("./img/beijing.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    margin:0;
    height: 100vh;
    
}
/*flex弹性布局*/
.flex{
    display: flex;
    flex-direction: column;
    align-items: center
}
/*导航样式*/
.daohang{
    background-color: rgba(0, 72, 90, 0.3);
    box-shadow: 0 0 50px;
    border-radius: 0px 0px 50px 50px;
    text-align: center;
    width: 800px;
    height: auto;
    margin: 0 auto 0 auto;
}
/*导航a标签*/
.daohang a{
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    line-height: 40px;
    background-color: rgba(123, 52, 91, 0);
}
/*鼠标反馈*/
.shubiao:hover{
    background-color:rgba(20, 134, 179, 0.5);
}
/*头像居中*/
.touxiang{
    width: 100px;
    margin: auto;
}
/*头像img反馈*/
.img1:hover img{
   transform:scale(1.3);
}
/*导航字体反馈*/
a:hover{
    color: rgb(237, 26, 114);
}
/*导航字体颜色样式*/
.dhys{
     border-radius:0px 0px 20px 20px;
     padding:7px;
     font-size: 25px;
     color: rgb(226, 240, 255);
     margin:10px;

}
/*a标签样式*/
a{
    display:inline-block;
    text-decoration:none;
    color: white;
}
/*居中样式*/
.juzhong {
    text-align: center; 
    background-color: rgba(1, 123, 154, 0.3);
    width: auto;
    height: auto;
    padding: 5px;
    border: 1px solid rgb(137, 175, 208);
    box-shadow: 0 0 10px rgb(88, 166, 194);
    border-radius:20px 20px 20px 20px;
  
}
/*字体样式*/
.ys {
    text-align: center;
    color: rgb(255, 255, 255);
   
}
/*主体内容样式*/
main {
    background-color: rgba(0, 72, 90, 0.3);
    width: 500px;
    height: auto;
    margin:auto; 
    margin: 15px 0px 15px 0px;
    text-align: center;
    padding:10px;
    box-shadow:0 0 50px rgb(249, 0, 66);
    border-radius:50px 50px 50px 50px;
}
